h3 {
  font-size: inherit;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  background: inherit;
}

a:focus,
a:active {
  outline: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  background-color: #2196f3;
}

.team__img, .works__img {
  display: block;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

.active {
  color: #2196f3;
}
.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
}

.conteiner {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.section {
  padding: 94px 0;
}
.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  color: #212121;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;
}
.header__text--accent {
  color: #2196f3;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.1428571429;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  line-height: 1.1428571429;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.contact-header__item:not(:last-child) {
  margin-right: 50px;
}
.contact-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
}
.contact-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  max-width: 696px;
  margin: 0 auto 30px;
  font-size: 44px;
  line-height: 1.3636363636;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__btn {
  padding: 10px 32px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.benefits__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.benefits__subtitle {
  margin-bottom: 10px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #212121;
}

.benefits__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}
.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.works {
  padding-top: 0;
}
.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.works__label {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.works__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.works__item:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: #f5f4fa;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__content {
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
  white-space: nowrap;
  border-radius: 0px 0px 4px 4px;
}
.team__subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 500;
  color: #212121;
}
.team__description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
}
.team__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__link {
  width: 44px;
  height: 44px;
}

.team__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.link-team:not(:last-child) {
  margin-right: 10px;
}
.link-team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-team__item:hover, .link-team__item:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.link-team__vector {
  fill: currentColor;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border-width: 1px;
  border-style: solid;
  border-color: #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}
.clients__vector {
  fill: currentColor;
}

.clients__item {
  width: 170px;
  height: 92px;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}/*# sourceMappingURL=main.css.map */