/* Скидання базових стилей */
h3 {
  font-size: inherit;
}
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  background: inherit;
}
a:focus,
a:active {
  outline: none;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}

/* Змінні */
:root {
  /* забрав */
  --color-accent: #2196f3;
  --color-bold: #212121;
  --color-main: #757575;

  --color-icon: #afb1b8;

  --color-black: #000000;
  --color-white: #ffffff;
  /* забрав */
  --color-bgr-grey: #f5f4fa;

  --color-bgr-lhgt-grey: #f5f5f5;
  --color-bgr-dark: #2f303a;

  /* забрав */
  --basic-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Службові теги*/
/* забрав */
.accent {
  color: var(--color-accent);
}

/* забрав */
.link-inherit {
  color: inherit;
}
/* забрав */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* забрав */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* забрав */
._btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--color-white);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  background-color: var(--color-accent);
}

/* Загальні класи */
/* забрав */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-main);
  background-color: var(--color-white);
}

/* забрав */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}
/* забрав */
.hover-accent {
  transition: color 250ms var(--basic-cubic);
}
/* забрав */
.hover-accent:hover,
.hover-accent:focus {
  color: var(--color-accent);
}

/* забрав */
.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--color-bold);
}
/* забрав */
.section {
  padding: 94px 0;
}

/* забрав */
.conteiner {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

/* Header */
/* забрав */
.header {
  border-bottom: 1px solid #ececec;
}
/* забрав */
.header-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* забрав */
.header-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--color-black);
}
/* забрав */
.header-navigation-list {
  display: flex;
}
/* забрав */
.header-navigation-link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  line-height: calc(16 / 14);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-bold);
}
/* забрав */
.header-navigation-link.active {
  color: var(--color-accent);
}
/* забрав */
.header-navigation-link.active::after {
  content: '';
  position: absolute;
  bottom: 0;

  display: block;
  height: 4px;
  width: 100%;

  border-radius: 2px;
  background-color: var(--color-accent);
}

/* забрав */
.header-navigation-item:not(:last-child),
.header-contact li:not(:last-child) {
  margin-right: 50px;
}
/* забрав */
.header-contact {
  display: flex;
  margin-left: auto;
  line-height: calc(16 / 14);
  font-weight: 500;
  letter-spacing: 0.02em;
}
/* забрав */
.header-contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* забрав */

.header-contact-email-icon,
.header-contact-tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.team-img,
.works-img, /*забрав*/
.portfolio-img {
  display: block;
  width: 100%;
}

/* Hero */

/* забрав */
.hero {
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* забрав */
.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;

  font-size: 44px;
  line-height: calc(60 / 44);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}
/* забрав */
.hero-btn {
  padding: 10px 32px;
}

/* Benefits */
/* забрав */
.benefits-list {
  display: flex;
  flex-wrap: wrap;
}
/* забрав */
.benefits-item {
  flex-basis: calc((100% - 90px) / 4);
}
/* забрав */
.benefits-item:not(:last-child) {
  margin-right: 30px;
}
/* забрав */
.benefits-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--color-bgr-grey);
}
/* забрав */
.benefits-subtitle {
  margin-bottom: 10px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--color-bold);
}

/* Works */
/* забрав */
.works.section {
  padding-top: 0;
}
/* забрав */
.works-list {
  display: flex;
  flex-wrap: wrap;
}
/* забрав */
.works-item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}
/* забрав */
.works-item:not(:last-child) {
  margin-right: 30px;
}
/* забрав */
.works-item-label {
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;

  color: var(--color-white);

  background: rgba(47, 48, 58, 0.8);
}

/* Team */

.team {
  background-color: var(--color-bgr-grey);
}
.team-list {
  display: flex;
}
.team-item {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-subtitle {
  margin-bottom: 10px;

  font-size: 16px;
  line-height: calc(19 / 16);
  font-weight: 500;
  color: var(--color-bold);
}

.team-description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: calc(19 / 16);
}

.team-text {
  background-color: var(--color-white);
  padding: 30px;
  text-align: center;
  white-space: nowrap;
  border-radius: 0px 0px 4px 4px;
}

.team-links,
.footer-links {
  display: flex;
  justify-content: center;
}
.team-link,
.footer-link {
  width: 44px;
  height: 44px;
}

.team-link a,
.footer-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  width: 100%;
  height: 100%;

  transition: color 250ms var(--basic-cubic), background-color 250ms var(--basic-cubic);
}

.team-link a:hover,
.team-link a:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.team-link a {
  color: var(--color-icon);
}
.team-link-vector,
.footer-link-vector {
  fill: currentColor;
}
.team-link:not(:last-child),
.footer-link:not(:last-child) {
  margin-right: 10px;
}

/* Clients */

.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item {
  width: 170px;
  height: 92px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--color-icon);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-icon);
  border-radius: 4px;

  transition: color 250ms var(--basic-cubic), border-color 250ms var(--basic-cubic);
}
.clients-item a:hover,
.clients-item a:focus {
  color: var(--color-accent);
  border-color: var(--color-accent);
}
.clients-item-vector {
  fill: currentColor;
}

/* Footer */
.footer {
  background-color: var(--color-bgr-dark);
  padding: 60px 0;
}
.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-address-wrap {
  margin-right: 70px;
}
.footer-link-text {
  display: inline-block;
  margin-bottom: 20px;
  line-height: calc(24 / 14);
  text-transform: uppercase;
  color: var(--color-white);
}
.footer-link a {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-white);
}
.footer-link a:hover,
.footer-link a:focus {
  background-color: var(--color-accent);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--color-white);
}

.footer-contact {
  color: var(--color-white);
}

.footer-contact-email {
  opacity: 0.6;
}

.footer-contact-tel {
  opacity: 0.6;
}
.footer-contact li:not(:last-child) {
  margin-bottom: 9px;
}

/* Footer-form */

.footer-form-wrap {
  margin-left: auto;
}
.footer-form {
  display: flex;
  gap: 12px;
}

.footer-form-label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #ffffff;
}
.footer-form input {
  min-width: 358px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: calc(20 / 16);

  color: #ffffff;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-btn {
  display: flex;
  justify-content: center;
  gap: 10px;

  align-self: flex-end;
  padding: 10px 28px;
  border: 1px solid var(--color-accent);
}

/* Modal-page */

.modal-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--basic-cubic), visibility 250ms var(--basic-cubic);
}
.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;

  padding: 40px 39px 40px 41px;
  text-align: center;

  background-color: var(--color-white);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal-close-btn,
.form-label-icon {
  fill: currentColor;
  background-color: transparent;
  transition: color 250ms var(--basic-cubic);
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--color-accent);
}

.modal-form-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: calc(23 / 20);

  color: var(--color-bold);
}
.modal-form-item {
  width: 100%;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}
.form-field {
  position: relative;
  margin-bottom: 28px;
}
.modal-form-item div:nth-child(3) {
  margin-bottom: 10px;
}
.form-input {
  display: block;
  height: 40px;
  width: 100%;
  padding: 11px 12px 11px 42px;

  color: var(--color-main);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--basic-cubic);
}

.form-input:focus,
.form-label-comment > textarea:focus {
  border-color: var(--color-accent);
}

.form-label-text {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms var(--basic-cubic);
}

.form-field:focus-within .form-label-text,
.form-input:not(:placeholder-shown) + .form-label > .form-label-text {
  transform: translate(-42px, -38px);
}

.form-label-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: currentColor;
  color: var(--color-bold);
  transition: fill 250ms var(--basic-cubic);
}

.form-field:focus-within .form-label-icon {
  color: var(--color-accent);
}

.form-field-comment {
  margin-bottom: 20px;
}

.form-label-comment {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.form-label-comment > textarea {
  height: 120px;
  margin-top: 4px;
  padding: 16px 12px;

  color: var(--color-main);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  transition: border-color 250ms var(--basic-cubic);
}
.form-label-comment > textarea::placeholder {
  color: hsla(0, 0%, 46%, 0.5);
}

.checkbox {
  position: relative;
  padding: 0 12px;
  height: 24px;
  margin-bottom: 30px;
}
.checkbox-label {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 23px;
}
.checkbox-input-customize {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  margin-left: -23px;

  width: 16px;
  height: 15px;

  background-image: url(../images/checkbox-off.svg);
  background-position: center;
  background-size: contain;

  transition: background-image 250ms var(--basic-cubic);
}
/* .checkbox-label:focus-within > .checkbox-input-customize {
  border: 2px solid var(--color-accent);
  
} */
.checkbox-input:checked + .checkbox-label > .checkbox-input-customize {
  background-image: url(../images/checkbox-on.svg);
}
.checkbox-text {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
}

.checkbox-text a {
  color: var(--color-accent);
  text-decoration: underline;
}

.modal-form-btn {
  padding: 10px 52px;
}

/* Portfolio */

.filter-btn {
  font-size: 16px;
  line-height: calc(26 / 16);
  font-weight: 500;
  text-align: center;
  color: var(--color-bold);
  background-color: var(--color-bgr-grey);
  transition: box-shadow 250ms var(--basic-cubic), color 250ms var(--basic-cubic),
    background-color 250ms var(--basic-cubic);
}
.filter-btn.active-btn,
.filter-btn:hover,
.filter-btn:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-category {
  font-size: 16px;
  line-height: calc(30 / 16);
}
.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -15px;
}
.portfolio-item {
  flex-basis: calc((100% - 90px) / 3);
  margin: 15px;
  transition: box-shadow 250ms var(--basic-cubic);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-bold);
}
.portfolio-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--basic-cubic);
}
.portfolio-link:hover .portfolio-img-overlay,
.portfolio-link:focus .portfolio-img-overlay {
  transform: translateY(0%);
}

.portfolio-img-overlay p {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}
