// Змінні

$textColorAccent:#2196f3;
$textColorBold: #212121;
$textColorMain: #757575;

$colorIcon: #afb1b8;

$bgColorAccent:#2196f3;
$bgColorGrey: #f5f4fa;
$bgColorDarkGrey: #2f303a;






// Міксіни

@mixin hover-accent ($color:$textColorAccent) {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: $color;
    }
}
@mixin hover-icon ($color:#ffffff,$background:$bgColorAccent) {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $color;
        background-color: $background;
    }
}
@mixin hover-clietns ($color:$textColorAccent,$border:$bgColorAccent) {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    color: $color;
    border-color: $border;
}
}
    


@mixin flex-center ($display:flex) {
    display: $display;
    align-items: center;
    justify-content: center;
    
}

// Шаблони

%logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
}

%btn {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    border-radius: 4px;
    background-color: $bgColorAccent;
}

%imgBlock {
display: block;
width: 100%;
}

// Утилітні класи
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}